# Assignment No 2 - Sean Healy

## 200016001

## https://github.com/SeanH0122/PY4SA23_Assignment

### Python Basics

#### Task 1

In [3]:
# If... Else statement to test if a number is divisible by 3

# Prompt
num = int(input("Enter a number: "))

# Check
if num % 3 == 0:
    print(num, "is divisible by 3")
else:
    print(num, "is not divisible by 3")

Enter a number: 12
12 is divisible by 3

#### Task 2

In [6]:
# If... Else statement to test a string in a list

# Define
acceptable_fruits = ["apple", "orange", "pear", "kiwi", "strawberry"]

# Prompt
fruit = input("Enter a fruit: ")

#Check
if fruit.lower() in acceptable_fruits:
    print(fruit.upper(), "is acceptable")
else:
    print(fruit.upper(), "is not acceptable.")

Enter a fruit: Banana
BANANA is not acceptable.

In [10]:
#Import
from math import radians, sin, cos, sqrt, atan2

#Define
def haversine_distance(coord1, coord2):
    #Mean radius of Earth in km
    R = 6371.0
    
    #Convert lat/long to radians
    lat1,lon1 = radians(coord1[0]), radians(coord1[1])
    lat2, lon2 = radians(coord2[0]), radians(coord2[1])
    
    # Calculate the difference between the two latitudes and longitudes
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Calculate the haversine of half the difference in latitude and longitude
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2

    # Calculate the central angle using the arctangent function
    c = 2 * atan2(sqrt(a), sqrt(1-a))

    # Calculate the distance using the Haversine formula
    d = R * c

    return d

# Coordinates of Uni of St. Andrews
standrews = [56.3394, -2.7962]

#Coordinates of Edinburgh Uni
edinburgh = [55.9441, -3.1875]

#Calculate distance between Uni of St. Andrews and Edinburgh Uni with Haversine Function
distance = haversine_distance(standrews, edinburgh)

print(f"The distance between the Uni of St. Andrews and Edinburgh Uni is {distance: .2f} km.")

The distance between the Uni of St. Andrews and Edinburgh Uni is  50.20 km.

### Pandas and NumPy

#### Question 1: How many trees are of the Quercus or Acer genus?

In [18]:
import pandas as pandas

# Define file path 
file_path = '/Users/seanhealy/Desktop/PY4SA23_Assignment/Assignment_2_Data/portland_park_trees.csv'

# Read file
trees = pandas.read_csv(file_path)

# Filter for rows of Quercus or Acer genus
quercus_or_acer = trees[(trees['Genus'] == 'Quercus') | (trees['Genus'] == 'Acer')]

# Number of rows
num_trees = len(quercus_or_acer)

print(f"There are {num_trees} trees of the Quercus or Acer genus in the Portland parks.")

There are 5675 trees of the Quercus or Acer genus in the Portland parks.

#### Question 2: How many trees are of the Quercus or Acer genus and have a DBH larger than 50 inches?

In [25]:
# Filter for Quercus or Acer genus with DBH > 50 inches
quercus_or_acer_dbh_50 = quercus_or_acer[quercus_or_acer['DBH'] > 50]

# Number of rows
num_trees = len(quercus_or_acer_dbh_50)

print(f"There are {num_trees} trees of the Quercus or Acer genus with a DBH larger than 50 inches.")

There are 124 trees of the Quercus or Acer genus with a DBH larger than 50 inches.

#### Question 3:  Which genus has the highest mean DBH of the following genera: Quercus, Acer, or Fraxinus?

In [29]:
# Filter for Quercus, Acer, and Fraxinus genus
qaf_trees = trees[trees['Genus'].isin(['Quercus', 'Acer', 'Fraxinus'])]

# Calculate the mean DBH for each group
mean_dbh = qaf_trees.groupby('Genus')['DBH'].mean()

# Calculate the highest mean
highest_mean = mean_dbh.idxmax()

print(f"The genus with the highest mean DBH is {highest_mean}.")

The genus with the highest mean DBH is Quercus.

#### Question 4: How many different species of trees are recorded in the Acer genus?

In [30]:
# Filter for Acer genus
acer_trees = trees[trees['Genus'] == 'Acer']

# Count unique species
num_species = len(acer_trees['Species'].unique())

print(f"There are {num_species} different species of trees in the Acer genus.")

There are 20 different species of trees in the Acer genus.